- title = "РосДеньги";

extends layout
block content
  body.landing
    div.wrapper
      div.header: div.container
        div.pattern-cell
          a(href="/").logo: img(src="img/logo.png")
          div.city
            span Ваш город:
            button.clear.link: span Архангельск

      div(id='js-calculator')
      script(type='text/template', id='js-calculator-template')
        div(class="loan "): div.container
          div.dialog
            div.ineed
              span Мне нужно:
              span.sum 20000 &#8399;

              div.slider(id="dragdealer-slider")
                div.line.basic
                div.line.current
                  div.marker: div

            div.terms
              div.pattern-cell
                div Готов вернуть:
                div: button.clear.link: span 12 декабря 2014

              div.pattern-cell
                div Сумма процентов по займу:
                div: strong 2400 &#8399;

              button.big.red
                span Получить деньги

            div.details Нажимая кнопку «Получить деньги», Вы подтверждаете, что знаете и принимаете Правила предоставления микрозаймов и полностью согласны с Политикой использования персональных данных.

      div.slides
        - promos.forEach(function(promo) {
          div.slide
            div.background(style="background-image: url(#{promo.backgroundImage})")

            div.description
              div.container
                div.pattern-cell: div
                  div.title!= promo.title
                  div.separator
                  div.text!= promo.body

        - });
        div.slide
          div.background(style="background-image: url(img/slide1.jpg)")

          div.description
            div.container
              div.pattern-cell: div
                div.title Подарок для<br>любимой
                div.separator
                div.text В будничной суете совсем забыли о важной дате?<br>До зарплаты осталось всего несколько дней?<br>Мы работаем, чтобы помогать Вам быстро<br>находить выход из подобных ситуаций.

    div.overlay.dark(style="display: none;")

    div.window(style="display: none;")
      div.pattern-cell: div
        div.dialog.without
          div.request-loan
            div.information
              img(src="img/logo-min-red.png")
              div.section
                div.title: span Сумма займа:
                div.text: span 20000 рублей
              
              div.section
                div.title: span Вернуть до:
                div.text: span 30.02.2015 г.

              div.section
                div.title: span Сумма возврата:
                div.text: span 22400 рублей

            div.content
              div.title: span Шаг 1 из 4  —  Контактные данные
              div
                div.section
                  div.caption: span ФИО:
                  div.textbox: input(type="text", placeholder="Введите вашу фамилию, имя и отчество")

                  div.caption: span Номер мобильного телефона:
                  div.textbox
                    input(type="text", placeholder="+7")
                    div.toolbar
                      button(disabled).rectangular.red
                        span Подтвердить номер телефона

                div.agreement
                  span Я даю компании «РосДеньги» своё согласие на обработку моих персональных данных в соответствии с законодательством Российской Федерации и Политикой использования персональных данных.
