// Private variables
	// Color
	@white-color-default: #fff;
	@white-color-alt: #f5f5f5;
	@white-color-beta: #f9f9f9;

	@white-color-light: #fcfcfc;

	@gray-color-default: #999999;
	@gray-color-light: #e0e0e0;
	@gray-color-light-alt: #dddddd;

	@red-color-default: #cc2936;
	@red-color-light: #e52e3d;
	@red-color-dark: #b22430;

	@orange-color-default: #e6a117;
	@orange-color-alt: #cc8f14;

	@blue-color-default: #5c7099;

	@green-color-default: #59b259;
	@green-color-alt: #4c994c;
	@green-color-dark: #3d993d;

	// Shadow
	@shadow-black-default: 0 1px 0 rgba(0,0,0,0.4);
	@shadow-black-inset: 0 1px 2px rgba(0,0,0,0.1);
	@shadow-black-substrate: 0 0 20px rgba(0,0,0,0.2);

	@shadow-white-default: 0 1px 0 rgba(255,255,255,0.4);

	// Size
	@header-height-default: 50px;

	@loan-board-default: 370px;

	@slides-height-default: 860px;

	@slider-height-default: 10px;
	
	@button-height-default: 40px;
	@button-height-big: 70px;

	@textbox-height-default: 50px;

	@circle-size-medium: 50px;
	@circle-size-large: 60px;

	@border-width-default: 1px;
	@border-radius-default: 4px;

	// Indent
	@indent-default: 15px;
	@indent-small: 10px;

	// Font
	@font-family-default: 'PT Sans', sans-serif;
	@font-family-alt: 'Ubuntu', sans-serif;

	@font-size-default: 16px;
	@font-size-alt: 12px;

	@font-size-medium: @font-size-default*1.5;

	// Icon
	@icon-size-default: 16px;


// Bootstrap
@import "bootstrap/bootstrap";

// Icon framework: RDFont
@import "components/rdfont";

// Import art font
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);

// Slick slider
@import "components/slick-slider";

// Landing page UI
@import "components/textbox";
@import "components/dialogs";
@import "components/buttons";

@import "components/not-sorted";

// RangeSlider plugin
@import "components/rangeslider";

// Pickadate plugin
@import "components/pickadate/classic";
@import "components/pickadate/classic.date.less";

// Landing page
* {
	outline: none;
	.box-sizing(border-box);
}

.landing {
	margin: 0;
	font-size: @font-size-default;
	font-family: @font-family-default;

	.wrapper { position: relative; }

	// Header, slides, loan board

	.header {
		top: @header-height-default;
		left: 0;

		width: 100%;
		
		.layer(3);

		.container { position: relative; }

		.pattern-cell {
			span {
				text-shadow: @shadow-black-default;
				color: @white-color-default;
			}
		}

		.logo {
			padding-right: @indent-small*4;
			border-right: @border-width-default rgba(0,0,0,0.2) solid;
		}

		.city {
			padding-left: @indent-small*4;
			border-left: @border-width-default rgba(255,255,255,0.2) solid;

			.link {
				margin-left: @indent-small;
				border-bottom-color: @white-color-default;
				background-color: transparent;

				font-size: @font-size-default;
				font-weight: bold;
			}
		}

		.feedback {
			height: @header-height-default;

			.callback {
				.circle { top: (@header-height-default - @button-height-default)/2; }
			}
		}
	}

	.loan {
		width: 100%;
		top: @indent-small*10 + @header-height-default*2;

		.layer(2);

		.dialog {
			padding: 33px 40px 37px 39px;

			#gradient>.vertical(@white-color-default, @white-color-alt, 0%, 100%);

			border: @border-width-default @white-color-default solid;

			box-shadow: @shadow-black-substrate;
			text-shadow: @shadow-white-default;

			float: right;

			// I need

			.ineed {
				text-align: center;

				span {
					font-weight: bold;

					&:not(.sum) { text-transform: uppercase; }
					&.sum {
						display: block;
						font-size: @font-size-default*4;

						margin-top: -5px;
						margin-bottom: 8px;
					}
				}
			}

			// Terms

			.terms {
				padding-top: 18px;

				.pattern-cell {
					position: relative;
					width: 100%;

					.picker {
						left: 0;
						top: 24px;
					}

					&>*:last-child { text-align: right; }

					&:not(:last-child) {
						border-bottom: @border-width-default @gray-color-light-alt solid;
						padding-bottom: @indent-small*3 + 5px;
					}

					&:not(:first-child) {
						border-top: @border-width-default @white-color-light solid;
						padding-top: @indent-small*3 + 4px;
					}
				}

				.datepicker {
					background-color: transparent;
					color: @red-color-default;
					border: none;
					
					padding: 0;
					margin: 0;

					text-align: right;
					font-weight: bold;
					cursor: pointer;

					.user-select(none);
				}

				button {
					font-size: @font-size-medium;
					font-weight: bold;
				}
			}

			// Details

			.details {
				margin-top: @indent-small*4 - 5px;

				font-size: @font-size-alt;
				font-style: italic;

				color: @gray-color-default;
				text-align: center;

				a { color: @gray-color-default; }
			}

			@media (min-width: @screen-sm) {
				width: @loan-board-default;
			}
		}
	}

	.slides {
		text-shadow: @shadow-black-default;
		color: @white-color-default;

		height: @slides-height-default;

		.slide {
			position: relative;
			
			.background {
				background-position: center top;
				height: 100%;
			}

			.description {
				position: absolute;
				height: 100%;
				width: 100%;

				left: 0;
				top: 0;

				.pattern-cell { height: 100%; }

				.separator { margin: 23px 0 23px 0; }

				.text { font-weight: bold; }

				p { font-weight: bold; }
			}
		}

		.slick-prev, .slick-next {
			text-shadow: @shadow-black-default;
			color: @white-color-default;

			&:before { font-size: @font-size-default*2; }
		}

		.slick-prev { left: @indent-small*4; }

		.slick-next { right: @indent-small*4; }

	}

	// Quickly and easily sector

	.quickly-easily {
		.key-steps {
			#gradient>.vertical(@white-color-default, @white-color-alt, 0%, 100%);

			.pattern-cell {
				margin: 0 auto;
				height: 280px;
			}

			.step-icon {
				font-size: @icon-size-default*5;
				color: @red-color-default;
			}

			.step-text {
				padding-left: @indent-small*2;

				span {
					&:first-child {
						font-size: @font-size-small;
						color: @red-color-default;
					}

					&:last-child {
						font-size: @font-size-large;
						font-weight: bold;

						line-height: 20px;
					}
				}
			}
		}

		.description {
			background-color: @white-color-alt;
			box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset;

			.container {
				position: relative;
				padding-top: 85px;
				padding-bottom: 100px;

				.dude {
					position: absolute;
					right: @grid-gutter-width/2;
					bottom: 0;
				}
			}

			.separator { margin: 23px 0 23px 0; }

			ul {
				display: table;
				padding-left: 0;
				margin: 22px 0 0 0;

				list-style-type: none;

				li {
					display: table-row;

					&:not(:last-child) {
						&>div { padding-bottom: 10px; }	
					}

					&>div {
						display: table-cell;
						vertical-align: middle;

						&:first-child {
							font-size: @icon-size-default*1.5;
							color: @red-color-default;

							padding-right: 12px;
						}

						&:last-child {
							font-size: @font-size-large;
							font-weight: bold;
						}
					}
				}
			}
		}
	}

	// Video presentation

	.video {
		#gradient>.vertical(@white-color-default, @white-color-alt, 0%, 100%);

		a {
			margin: 0 auto;
			text-decoration: none;

			padding: 100px 0;

			.circle {
				.circle(@circle-size-large/2, 0);

				background-color: @red-color-default;
				text-shadow: @shadow-black-default;
				color: @white-color-default;
			}

			.text {
				padding-left: @indent-small*2;

				span {
					&:first-child {
						font-size: @font-size-small;
						font-weight: bold;

						color: @red-color-default;
					}

					&:last-child {
						display: block;
						margin-top: -5px;

						font-size: @font-size-large;
						font-weight: bold;

						color: #000;
					}
				}
			}

			&:hover {
				.text span {
					text-decoration: underline;
				}
			}
		}
	}

	// Why choose us?

	.why {
		background: url(../img/texture.jpg);
		color: @white-color-default;
		text-shadow: @shadow-black-default;

		padding: 83px 0 100px 0;

		.briefly {
			text-align: center;
			margin-bottom: 56px;

			.separator { margin: 24px auto 20px auto; }

			.text {
				font-size: @font-size-medium;
				line-height: @font-size-medium + 2;
			}
		}

		.detail {
			position: relative;
			padding-left: @circle-size-medium + @indent-small*2;

			.circle {
				position: absolute;
				left: 0;
				top: 0;

				border: @border-width-default*2 @white-color-default solid;
				box-shadow: @shadow-black-default;
				text-shadow: @shadow-black-default;

				.circle(@circle-size-medium/2);

				i { font-size: @icon-size-default*1.5; }
			}

			.title {
				line-height: @circle-size-medium;
				font-size: @font-size-large;
				font-weight: bold;

				margin-bottom: 6px;
			}
		}
	}

	// Reviews

	.reviews {
		padding: 83px 0 99px 0;

		.separator {
			margin: 24px auto 23px auto;
		}

		.review {
			border-bottom: @border-width-default @gray-color-light-alt dotted;
			padding-bottom: @indent-default*2;

			p {
				text-align: center;
				&:not(:last-child) { padding-bottom: @indent-small*2; }
			}

			.author {
				margin-top: -3px;
				margin-left: auto;
				margin-right: auto;

				.photo { padding-right: @indent-small; }

				span {
					font-size: @font-size-small;

					&.name {
						color: @red-color-default;
						font-weight: bold;
					}

					&.date {
						display: block;
						margin-top: -2px;
					}
				}
			}

			&:not(:last-child) { margin-bottom: 23px; }
		}

		.more {
			display: block;
			text-align: center;

			margin-top: -1px;

			color: @red-color-default;
			text-decoration: none;

			font-size: @font-size-small;
			font-weight: bold;

			span { border-bottom: @border-width-default @red-color-default dotted; }
		}

		h6 { text-align: center; }

	}

	// Information on the number of clients

	.clients {
		background: url(../img/mln_bg.jpg) center top no-repeat;
		color: @white-color-default;

		text-align: center;
		height: 480px;
		width: 100%;

		.separator { margin: 24px auto 20px auto; }

		.text {
			font-size: @font-size-medium;
			line-height: @font-size-medium + 2;
		}
	}

	// The bottom block

	.footer {
		background: url(../img/texture_footer.jpg);
		padding: @indent-small*5 0;

		color: @white-color-default;

		.container { position: relative; }

		.copy {
			text-shadow: @shadow-black-default;

			i {
				font-size: @font-size-default*2.5;
				color: @red-color-default;
			}

			span {
				font-size: @font-size-small;
				line-height: @font-size-alt + 2;
				font-weight: bold;	
			}

			&>*:first-child { padding-right: @indent-default; }	
		}

		.callme {
			button { color: @white-color-default; }
		}
	}
}

// Patterns
.pattern-cell {
	display: table;

	&>* {
		display: table-cell;
		vertical-align: middle;
	}
}

.box-sizing(@model) {
	-webkit-box-sizing: @model;
	-moz-box-sizing: @model;
	
	box-sizing: @model;
}

.user-select(@value) {
	-webkit-touch-callout: @value;
	-webkit-user-select: @value;
	-khtml-user-select: @value;
	-moz-user-select: @value;
	-ms-user-select: @value;

	user-select: @value;
}

.background-clip(@value) {
	-webkit-background-clip: @value;
	-moz-background-clip: @value;

	background-clip: @value;
}

.layer(@z-index) {
	position: absolute;
	z-index: @z-index;
}

.circle(@radius, @border-width: 2px) {
	border-radius: 50%;

	height: @radius*2;
	width: @radius*2;

	line-height: @radius*2 - @border-width*2;
	text-align: center;
}