// A request for a loan
.request-loan {
	position: relative;

	.information {
		position: absolute;
		left: 0;
		top: 0;

		background-color: @white-color-alt;
		padding: @indent-default*2;

		text-align: center;
		width: 200px;
		height: 100%;

		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05) inset;

		i {
			font-size: @icon-size-default*2.5;
			color: @red-color-default;
		}

		.section {
			.title { font-size: @font-size-small; }
			.text { font-weight: bold; }

			&:not(:first-child) {
				padding-top: @indent-default*2;
				border-top: @border-width-default @white-color-beta solid;
			}

			&:not(:last-child) {
				padding-bottom: @indent-default*2;
				border-bottom: @border-width-default @gray-color-light-alt solid;
			}
		}
	}

	.content {
		background-color: @white-color-default;

		padding: @indent-default*2 @indent-default*2 @indent-default*2 @indent-default*2+200px;
		width: 830px;

		.title {
			position: relative;
			padding-bottom: @indent-default*2;
			border-bottom: @border-width-default @gray-color-light-alt dotted;

			span {
				font-size: @font-size-large;
				line-height: @font-size-large;
				font-weight: bold;
			}

			button {
				position: absolute;
				right: 0;
				top: 0;

				height: @font-size-large;

				background-color: transparent;
				border: none;

				&:not(:hover) { color: @gray-color-default; }
			}
		}

		.section {
			padding-top: @indent-default*2;

			.caption {
				margin-bottom: @indent-small;
				font-size: @font-size-small;
			}

			.textbox {
				input {
					background-color: @white-color-alt;
					border: none;
				}

				&:not(:last-child) { margin-bottom: @indent-default*2 - 8px; }

				&:not([class*="valid"]) input { box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset; }
				&.not-valid input { border: @border-width-default @red-color-default solid; }
				&.valid input { border: @border-width-default @green-color-default solid; }
			}

			button {
				&:not(.rectangular) {
					padding: 0 @indent-default;
					height: 50px;

					font-weight: bold;
				}
			}

			.pattern-cell {
				width: 100%;

				&:not(:last-child) { margin-bottom: @indent-default*2 - 8px; }
				&>div {
					&:not(:first-child) { padding-left: @indent-default; }
					&:not(:last-child) { padding-right: @indent-default; }
					&:last-child {
						width: 170px;
					}
				}
			}

			.agreement {
				margin-top: 0;

				span { line-height: 20px; }
			}

			input::-webkit-input-placeholder { color: @gray-color-default; }
			input::-moz-placeholder { color: @gray-color-default; }
			input:-moz-placeholder { color: @gray-color-default; }

			&:not(.control) {
				border-bottom: @border-width-default @gray-color-light-alt dotted;
				padding-bottom: @indent-default*2;
			}

			&.control { text-align: right; }

			&>strong {
				display: block;
				margin-bottom: @indent-small*2;
			}

		}

		.agreement {
			position: relative;

			margin-top: @indent-default*2;

			padding-left: 20px + @indent-small;

			.checkbox {
				position: absolute;
				left: 0;
				top: 0;
			}

			span {
				font-size: @font-size-alt;
				color: @gray-color-default;
			}
		}

		.sms-confirmation {
			margin-top: @indent-default*2;

			.textbox {
				margin-right: @indent-small;
				width: 190px;
				float: left;
			}
		}

		.error-msg {
			border-radius: @border-radius-default;
			background-color: #ffd9dc;
			color: @red-color-default;

			text-shadow: @shadow-white-default;
			text-align: center;

			line-height: @button-height-default;
			margin-bottom: @indent-default*2 - 8;
		}
	}
}

// Dialog pattern
.dialog {
	display: inline-block;
	border-radius: @border-radius-default*2;
}

// Pop-up window pattern 
.window {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;

	z-index: 101;

	overflow-y: scroll;

	&>* {
		height: inherit;

		&.pattern-cell {
			position: relative;
			margin: 0 auto;

			padding: @indent-small*10 0;
		}
	}

	.dialog { overflow: hidden; }
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;

	height: 110%;
	width: 100%;

	cursor: pointer;

	z-index: 100;

	&.dark {
		background-color: rgba(0,0,0,0.8);
	}
}