.separator {
	width: 62px;

	&.white {
		border-bottom: @border-width-default @white-color-default dotted;
		box-shadow: @shadow-black-default;
	}

	&.red {
		border-bottom: @border-width-default @red-color-default dotted;
	}
}