@font-face {
	font-family: 'rdfont';
	src:url('../fonts/rdfont.eot?n7qljn');
	src:url('../fonts/rdfont.eot?#iefixn7qljn') format('embedded-opentype'),
		url('../fonts/rdfont.woff?n7qljn') format('woff'),
		url('../fonts/rdfont.ttf?n7qljn') format('truetype'),
		url('../fonts/rdfont.svg?n7qljn#rdfont') format('svg');

	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'rdfont';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-back:before { content: "\e600"; }
.icon-check:before { content: "\e601"; }
.icon-checkbox:before { content: "\e602"; }
.icon-client:before { content: "\e603"; }
.icon-close:before { content: "\e604"; }
.icon-down:before { content: "\e605"; }
.icon-dropdown:before { content: "\e606"; }
.icon-form:before { content: "\e607"; }
.icon-forward:before { content: "\e608"; }
.icon-logo-znak:before { content: "\e60b"; }
.icon-phone:before { content: "\e60c"; }
.icon-pin:before { content: "\e60d"; }
.icon-shield:before { content: "\e60e"; }
.icon-slide:before { content: "\e60f"; }
.icon-slide-active:before { content: "\e610"; }
.icon-star:before { content: "\e611"; }
.icon-time:before { content: "\e612"; }
.icon-up:before { content: "\e613"; }
.icon-wallet:before { content: "\e614"; }