- title = "РосДеньги";

html
  include includes/head

  body.landing
    div.wrapper
      div.slides#promo
        div.slide
          img(src="img/slide1.jpg")

          div.description
            div.container
              div.pattern-cell: div
                div.title Подарок для<br>любимой
                div.separator
                div.text В будничной суете совсем забыли о важной дате?<br>До зарплаты осталось всего несколько дней?<br>Мы работаем, чтобы помогать Вам быстро<br>находить выход из подобных ситуаций.

        div.slide
          img(src="img/slide1.jpg")

          div.description
            div.container
              div.pattern-cell: div
                div.title Подарок для<br>любимой
                div.separator
                div.text В будничной суете совсем забыли о важной дате?<br>До зарплаты осталось всего несколько дней?<br>Мы работаем, чтобы помогать Вам быстро<br>находить выход из подобных ситуаций.